<!DOCTYPE html>
<html lang='en'>
<head>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge' /> <!-- Optimal Internet Explorer compatibility -->
    <title><%= apiResponse[0].title %></title>
</head>
<body>
    <!--Navbar-->
    <nav class='navbar navbar-light bg-light'>
        <a class='navbar-brand fs-1'>Alibazon</a>
        <form class='form-inline'>
            <a class='btn btn-outline-success' id='mens-category-button' href='../catalog/mens' type='button'>Mens</a>
            <a class='btn btn-outline-success' id='womens-catalog-button' href='../catalog/womens' type='button'>Womens</a>     
        </form>
    </nav>
    <!--Navbar-->
    <!--Breadcrumbs-->
    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb mb-4 pt-4'>
            <li class='breadcrumb-item'><a href='index'>Home</a></li>
            <li class='breadcrumb-item'><a href='catalog'>Category</a></li>
            <li class='breadcrumb-item' aria-current='page'>Subcategory</li>
        </ol>
    </nav>
    <div id='modalPayments' class='modal fade'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h1 class='modal-title'>Not PayPal</h1>
                    <form role='form' method='POST' action=''>
                        <input type='hidden' name='_token' value=''>
                        <div class='form-group'>
                            <label class='control-label'>E-Mail Address</label>
                            <div>
                                <input type='email' class='form-control input-lg' name='email' value=''>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='control-label'>Password</label>
                            <div>
                                <input type='password' class='form-control input-lg' name='password'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' name='remember'> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div>
                                <button type='submit' class='btn btn-success'>Login</button>
                                
                            </div>
                        </div>
                    </form>                           
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class='container'>
        <div class='row'>
            <div class='col-12 mt-4'>
                <div class='card p-3'>
                    <p class='mb-0 fw-bold h4'>Payment Methods</p>
                </div>
            </div>
            <div class='col-12'>
                <div class='card p-3'>
                    <div class='card-body border p-0'>
                        <p> <a class='btn btn-primary w-100 h-100' data-toggle='modal' data-target='#modalPayments' type='button'> <span class='fw-bold'>PayPal</span> <span class='fab fa-cc-paypal'> </span> </a> </p>
                        <div class='collapse p-3 pt-0' id='collapseExample'>
                            <div class='row'>
                                <div class='col-8'>
                                    <p class='h4 mb-0'>Summary</p>
                                    <p class='mb-0'><span class='fw-bold'>Product:</span><span class='c-green'>: Name of product</span></p>
                                    <p class='mb-0'><span class='fw-bold'>Price:</span><span class='c-green'>:$452.90</span></p>
                                    <p class='mb-0'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque nihil neque quisquam aut repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab quis, iste harum ipsum hic, nemo qui!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='card-body border p-0'>
                        <p> <a class='btn btn-primary w-100 h-100'> <span class='fw-bold'>Credit Card</span> <span class=''> <span class='fab fa-cc-amex'></span> <span class='fab fa-cc-mastercard'></span> <span class='fab fa-cc-discover'></span> </span> </a> </p>
                        <div class='collapse show p-3 pt-0' id='collapseExample'>
                            <div class='row'>
                                <div class='col-lg-5 mb-lg-0 mb-3'>
                                    <p class='h4 mb-0'>Summary</p>
                                    <p class='mb-0'><span class='fw-bold'>Product:</span><span class='c-green'>: Name of product</span> </p>
                                    <p class='mb-0'> <span class='fw-bold'>Price:</span> <span class='c-green'>:$452.90</span> </p>
                                    <p class='mb-0'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque nihil neque quisquam aut repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab quis, iste harum ipsum hic, nemo qui!</p>
                                </div>
                                <div class='col-lg-7'>
                                    <form action='' class='form'>
                                        <div class='row'>
                                            <div class='col-12'>
                                                <div class='form__div'> <input type='text' class='form-control' placeholder=' '> <label for='' class='form__label'>Card Number</label> </div>
                                            </div>
                                            <div class='col-6'>
                                                <div class='form__div'> <input type='text' class='form-control' placeholder=' '> <label for='' class='form__label'>MM / yy</label> </div>
                                            </div>
                                            <div class='col-6'>
                                                <div class='form__div'> <input type='password' class='form-control' placeholder=' '> <label for='' class='form__label'>cvv code</label> </div>
                                            </div>
                                            <div class='col-12'>
                                                <div class='form__div'> <input type='text' class='form-control' placeholder=' '> <label for='' class='form__label'>name on the card</label> </div>
                                            </div>
                                            <div class='col-12'>
                                                <div class='btn btn-primary w-100' data-toggle='modal' data-target='#ModalLoginForm' type='button'>Sumbit</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-12'>
                <div class='btn btn-primary payment'> Make Payment </div>
            </div>
        </div>
    </div>
    <hr>      
    <!--Footer-->
    <div class='footer' style='margin-top: 25%;'>
        <p>Made by myself - Work in progress</p>
    </div>
    <!--/Footer-->    
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js' integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1' crossorigin='anonymous'></script>
</body>
</html>
